@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animals {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.animalCard {
    border: 1px solid;
    max-width: 15rem;
}

.animalImg {
    width: 100%;
    transition: all .5s ease-in-out;
}
.animalImg.hide {
    display: none;
}

.animalCardBody {
    padding: .5rem;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.animalCardBody h3 {
    cursor: pointer;
}

.animalCardBody p.votesCount.hide {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.btn {
    color: white;
    font-weight: 700;
    padding: .5rem;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
}
.btn.add {
    background: #8ecae6;
}
.btn.reset {
    background: #e63946;
}